@using ShoppingCartCA.Models
@{
    ViewBag.Title = "Gallery";
    var products = (List<Products>)ViewData["productList"];
    var listSize = products.Count;
    var count = 1;
    var cartCount = 0;
}
<html>
<body>
<style>
    body {
        background: #dac5c5;
    }

    .card {
        position: relative;
        background: #e6e6e6;
        width: 270px;
        height: 300px;
        padding-top: 10px;
        margin: 10px 10px; /*top,bottom  left,right */
    }

    .img {
        width: 230px;
        height: 130px;
        margin: auto;
        background: black;
    }

    .card-title {
        padding: 0 20%;
    }

    .card-text {
        max-height: 70px;
        font-size: 12px;
        padding-left: 10%;
        overflow-y: hidden;
    }

    .card-button {
        position: absolute;
        bottom: 10px;
        left: 80px;
    }
</style>

@*Show Cart Count*@ 

Cart : <div id="cart" class=card-title></div>
  

<table>
    @{
        @:<tr>
            foreach (var product in products)
            {
        <td>
            <div class="card" id="@product.ProductID">
                <div class="img"><img src="@product.Image" /></div>
                <b class="card-title">@product.Name</b>
                <p class="card-text">@product.Description</p>
                <button id="@product.ProductID" class="card-button" onclick="addToCart(@product.ProductID)">
                    @product.Price$ - Add to Cart
                </button>
            </div>
        </td>

        if (count % 3 == 0)
        {
        @:</tr>
        @: <tr>
        }
            if (count == listSize) {
                @:</tr>
            }

            count++;
        }
@:</tr>
    }
</table>


<script>
    setCartCount();
    var cartArray= [];
    var total;

    function addToCart(productId) {
        total = total * 1 + 1;
        document.getElementById("cart").innerHTML = total;
        cartArray[productId] = getProductCount(productId) * 1 + 1; 
        updateCookie();
        console.log("Cookie   =>  " + document.cookie);
    }

    //search product in the cookie 
    // if the product is already exist then find and return it's quantity 
    //eles return 0
    function getProductCount(productId) {
        var totalQty = 0;
        if (document.cookie.indexOf(productId) == -1) return 0; // if productId doesn't  exist in cookie then  indexOf function will return -1 .
        var cookieData = document.cookie.split('/'); // by splitting '/' then cookieData is array which will have each product in format(productId=quantity)
        for (var i = 0; i < cookieData.length; i++) {
            var qty = cookieData[i].split('='); // then splity by '=' then qty array will have productId in index0 and quantity in index1
            if(qty[0] == productId)
            return qty[1];
        }
        return totalQty;
    }

    //
    function setCartCount()
    {
        total = getTotalFromCookie();
        if (total == "undefined") { total = 0; }
        document.getElementById("cart").innerHTML = total;
    }

    // get total quantity of all products in the cart from the cookie
    function getTotalFromCookie() {
        var total = "";
        var cookieData = document.cookie.split('/');
        for (var i = 0; i < cookieData.length; i++) {
            var qty = cookieData[i].split('=');
            total += qty[1];
        }
        return total;
    }

    //add products list with respective quantity to cookie
    function updateCookie() {
        var str = "";
        for (var productId in cartArray) {
            if (str == "") { // check is it first time add
                str = productId + "=" + cartArray[productId]; 
            } else {
                str = str + "/" + productId + "=" + cartArray[productId]; // str  already has other products so add '/' first and then add productId=quantity
            }
        }
        document.cookie = str; //output will be  => productId=quantity/productId=quantity/.....
    }
</script>

</body>
</html>