@using ShoppingCartCA.Models
@{
    ViewBag.Title = "Gallery";
    var products = (List<Products>)ViewData["productList"];
    var listSize = products.Count;
    var count = 1;
    var cartCount = 0;
}
<html>
<body>
<style>
    body {
        background: #dac5c5;
    }

    .card {
        position: relative;
        background: #e6e6e6;
        width: 270px;
        height: 300px;
        padding-top: 10px;
        margin: 10px 10px; /*top,bottom  left,right */
    }

    .img {
        width: 230px;
        height: 130px;
        margin: auto;
        background: black;
    }

    .card-title {
        padding: 0 20%;
    }

    .card-text {
        max-height: 70px;
        font-size: 12px;
        padding-left: 10%;
        overflow-y: hidden;
    }

    .card-button {
        position: absolute;
        bottom: 10px;
        left: 80px;
    }
</style>

@*Show Cart Count*@ 
      <script>
        document.cookie = 0;
    </script>
Cart : <div id="cart" class=card-title>0</div>
  

<table>
    @{
        @:<tr>
            foreach (var product in products)
            {
        <td>
            <div class="card" id="@product.ProductID">
                <div class="img"><img src="@product.Image" /></div>
                <b class="card-title">@product.Name</b>
                <p class="card-text">@product.Description</p>
                <button id="@product.ProductID" class="card-button" onclick="addToCart(@product.ProductID)">
                    @product.Price - Add to Cart
                </button>
            </div>
        </td>

        if (count % 3 == 0)
        {
        @:</tr>
        @: <tr>
        }
            if (count == listSize) {
                @:</tr>
            }

            count++;
        }
@:</tr>
    }
</table>


<script>
    var cartArray= [] ;
    function addToCart(productId) {
        var cartCount = document.cookie;
        cartCount = cartCount * 1 + 1;
        document.getElementById("cart").innerHTML = cartCount ;
        document.cookie = cartCount;
    }
</script>

</body>
</html>