@model ShoppingCartCA.Models.User
@{
    ViewBag.Title = "LoginUser";
}

<h2>LoginUser</h2>
@using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
{
    <table align="center">
        <tr>
            <td>@Html.LabelFor(mod => mod.UserName)</td>
            <td>@Html.TextBoxFor(mod => mod.UserName)</td>
            <td>@Html.ValidationMessageFor(mod => mod.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Password)</td>
            <td>@Html.PasswordFor(x => x.Password)</td>
            <td>@Html.ValidationMessageFor(x => x.Password)</td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="Submit"></td>
        </tr>
    </table>
}

<style>
    .field-validation-error {
        color: darkred;
    }

    tr, td {
        padding: 2px
    }
</style>

